@font-face {
  font-family: 'Oxygen';
  src: local('Oxygen Bold'),local('Oxygen Bold'),
  url("../../src/assets/fonts/Oxygen-Bold.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: local('Oxygen Light'),local('Oxygen Bold'),
  url("../../src/assets/fonts/Oxygen-Light.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: local('Oxygen Regular'),local('Oxygen Bold'),
  url("../../src/assets/fonts/Oxygen-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}