$linkLight: #f5faff;
$linkDark: #52555c;
$linkBright: #59d4c2;
$header: #30364e;
$body: #eee;
$defaultWhite: #fff;
$activeTab: #f4f8fb;
$hoverTab: #e8e9ea4a;
$border: #f4f4f4;
$borderGray: #eaebef;
$textGreyDark: #a9a9a9;
$textGreyLight: #ababab;
$chatBackGround: #f6f7fb;
$deleteBtn: #b4bec8;
$error: #df2143;
$chatMessageDark: #5c7393;
$isReadActiveStatus: #d2d2d0;

$containerSize: 1600px;
$containerSizeMedium: 1200px;