@import "../../../styles/variables";

.trades {
  &-list {
    width: 27%;
    border-right: solid 1px $border;
    @media (max-width: 1024px) {
      width: 15%;
    }
    @media (max-width: 981px) {
      position: absolute;
      width: 100%;
      background: #fff;
      overflow: hidden;
      z-index: 6;
      height: 100%;
      top: 200px;
    }
  }
}